{% extends "base.html" %}

{% block title %}{{ book.title }}{% endblock %}

{% block content %}
<h2 class="title is-4 mb-6">{{ book.title }}</h2>

<div class="content">
  <div id="1">
    <h3 class="subtitle is-5 has-text-weight-semibold mb-2">Book Details</h3>
    <ul class="box">
      <li class="mb-3">
        <p class="has-text-weight-semibold"><strong>Author:</strong> {{ book.author }}</p>
      </li>
      <li class="mb-3">
        <p class="has-text-weight-semibold"><strong>Genre:</strong> {{ book.genre }}</p>
      </li>
      <li class="mb-3">
        <p class="has-text-weight-semibold"><strong>Published:</strong> {{ book.published_date }}</p>
      </li>
      <li class="mb-3">
        <p class="has-text-weight-semibold"><strong>Description:</strong> {{ book.description }}</p>
      </li>
    </ul>
  </div>

  <div class="buttons is-right mt-5">
    <!-- Update -->
    <a href="#" class="button is-small is-info mr-3">
      <span class="icon is-small">
        <i class="fas fa-edit"></i>
      </span>
      <span>Edit</span>
    </a>

    <!-- Delete -->
    <form action="#" method="post" class="inline">
      <button type="submit" class="button is-small is-danger" onclick="return confirm('Tem certeza que deseja excluir este livro?')">
        <span class="icon is-small">
          <i class="fas fa-trash-alt"></i>
        </span>
        <span>Delete</span>
      </button>
    </form>

    <!-- Back -->
    <a href="#" class="button is-small is-link">
      <span class="icon is-small">
        <i class="fas fa-arrow-left"></i>
      </span>
      <span>Back</span>
    </a>
  </div>
</div>
{% endblock %}
