{% extends "base.html" %}

{% block title %}{{ book.title }}{% endblock %}

{% block content %}
<h2 class="title is-4 mb-6">Título: {{ book.title }}</h2>

<div class="content">
  <div id="1">
    <h3 class="subtitle is-5 mb-4">Detalhes do Livro</h3>
    <div class="box p-5">
      <div class="mb-4">
        <p><strong>Autor:</strong> {{ book.author }}</p>
      </div>
      <div class="mb-4">
        <p><strong>Gênero:</strong> {{ book.genre }}</p>
      </div>
      <div class="mb-4">
        <p><strong>Data de publicação:</strong> {{ book.published_date }}</p>
      </div>
      <div class="mb-4">
        <p><strong>Descrição:</strong> {{ book.description }}</p>
      </div>
    </div>
  </div>

  <!-- Buttons -->
  <div class="buttons is-flex is-justify-content-flex-end mt-5">
    <!-- Update -->
    <a href="{{ url_for('book.update', book_id=book.id) }}" class="button is-small is-info mr-2">
      <span class="icon is-small">
        <i class="fas fa-edit"></i>
      </span>
      <span>Editar</span>
    </a>

    <!-- Delete -->
    <form action="{{ url_for('book.delete', book_id=book.id) }}" method="post" class="inline mr-2">
      <button type="submit" class="button is-small is-danger" onclick="return confirm('Tem certeza que deseja excluir este livro?')">
        <span class="icon is-small">
          <i class="fas fa-trash-alt"></i>
        </span>
        <span>Deletar</span>
      </button>
    </form>

    <!-- Back -->
    <a href="{{ url_for('library.main', lib_id=book.library_id) }}" class="button is-small is-link">
      <span class="icon is-small">
        <i class="fas fa-arrow-left"></i>
      </span>
      <span>Voltar</span>
    </a>
  </div>
</div>
{% endblock %}