{% extends "base.html" %}

{% block title %}Meus Empréstimos{% endblock %}

{% block content %}
<section class="section">
    <div class="container">
        <h2 class="title is-4 mb-6">Empréstimos</h2>
        <div class="columns">
            <!-- Seus Empréstimos -->
            <div class="column">
                <h3 class="subtitle is-5 has-text-weight-semibold">Seus</h3>
                <div class="box">
                    <ul>
                        {% for borrowing in range(4) %}
                            <li class="media mb-4">
                                <div class="media-content">
                                    <p class="title is-6">{{ "Teste" }}</p>
                                    <p class="subtitle is-7 has-text-grey">De: userX</p>
                                    <p class="subtitle is-7 has-text-grey">Data: dayX</p>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <!-- Empréstimos de Amigos -->
            <div class="column">
                <h3 class="subtitle is-5 has-text-weight-semibold">De Amigos</h3>
                <div class="box">
                    <ul>
                        {% for borrowing in range(4) %}
                            <li class="media mb-4">
                                <div class="media-content">
                                    <p class="title is-6">{{ "Teste" }}</p>
                                    <p class="subtitle is-7 has-text-grey">De: userX</p>
                                    <p class="subtitle is-7 has-text-grey">Data: dayX</p>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

        <!-- Botão de Registrar Novo Empréstimo -->
        <div class="has-text-right mt-6">
            <a href="/borrowing/add" class="button is-primary is-rounded is-medium">
                <span class="icon">
                    <i class="fas fa-plus"></i>
                </span>
                <span>Registrar Empréstimo</span>
            </a>
        </div>
    </div>
</section>
{% endblock %}
