{% extends "base.html" %}

{% block title %}Meus Empréstimos{% endblock %}

{% block content %}
<section class="section">
    <div class="container">

        <div class="field columns">
            <div class="column is-10">
                <h2 class="title is-4 mb-6">Empréstimos</h2>
            </div>
        </div>
        <div class="columns">
            <!-- Seus Empréstimos -->
            <div class="column">
                <h3 class="subtitle is-5 has-text-weight-semibold">Meus livros emprestados</h3>
                <div class="box">
                    <ul>
                        {% for lending in lendings %}
                        <li class="media mb-5">
                            <div class="media-content">
                                <a href="{{ url_for('book.get', book_id=lending[3]) }}">
                                    <p class="title is-6">{{ lending[0] }}</p>
                                    <div class="columns">
                                        <div class="column is-10 ">
                                            <p class=" is-size-7 has-text-grey">para: {{ lending[1] }}</p>
                                            <p class=" is-size-7 has-text-grey">Data: {{ lending[2] }}</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <!-- Empréstimos de Amigos -->
            <div class="column">
                <h3 class="subtitle is-5 has-text-weight-semibold">Livros de amigos</h3>
                <div class="field has-addons">
                    <p class="control">
                        <input class="input" type="text" placeholder="Buscar livro">
                    </p>
                    <p class="control">
                        <a class="button is-static">
                            Buscar
                        </a>
                    </p>
                </div>
                <div class="box">
                    <ul>
                        {% for borrowing in borrowings %}
                        <li class="media mb-4">
                            <a href="{{ url_for('book.get', book_id=borrowing[3]) }}">
                                <div class="media-content">
                                    <p class="title is-6">{{ borrowing[0] }}</p>
                                    <p class="is-10 has-text-grey">de: {{ borrowing[1] }}</p>
                                    <p class="is-10 has-text-grey">Data: {{ borrowing[2] }}</p>
                                </div>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>


    </div>
</section>
{% endblock %}