{% extends "base.html" %}

{% block title %}Minhas Bibliotecas{% endblock %}

{% block content %}
<section class="section">
    <div class="container">
        <h2 class="title is-4 mb-6">Bibliotecas</h2>
        <div class="columns">
            <!-- Coluna "Suas" -->
            <div class="column">
                <h3 class="subtitle is-5 has-text-weight-semibold">Suas</h3>
                <div class="columns is-multiline">
                    {% for id in range(10) %}
                        <div class="column is-half">
                            <div class="box has-shadow">
                                <a href="{{ url_for('library.main', lib_id=id) }}">
                                    <h5 class="title is-6">{{ "Teste" }}</h5>
                                    <p class="content is-small">Descrição: Teste</p>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <!-- Coluna "De Amigos" -->
            <div class="column">
                <h3 class="subtitle is-5 has-text-weight-semibold">De Amigos</h3>
                <div class="columns is-multiline">
                    {% for id in range(10) %}
                        <div class="column is-half">
                            <div class="box has-shadow">
                                <a href="{{ url_for('library.main', lib_id=id) }}">
                                    <h5 class="title is-6">{{ "Teste" }}</h5>
                                    <p class="content is-small">Descrição: Teste</p>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <!-- Loop de Bibliotecas -->
        <div class="columns is-multiline">
            {% for library in libraries %}
                <div class="column is-one-third">
                    <div class="box has-shadow">
                        <h5 class="title is-6">{{ library.name }}</h5>
                        <p class="content is-small">Livros: {{ library.books|length }}</p>
                        <a href="/library/{{ library.id }}" class="button is-dark is-small mt-2">
                            Ver Biblioteca
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>

        <!-- Botão de Adicionar Nova Biblioteca -->
        <div class="has-text-right mt-6">
            <a href="/library/add" class="button is-primary is-rounded is-medium">
                <span class="icon">
                    <i class="fas fa-plus"></i>
                </span>
                <span>Adicionar Biblioteca</span>
            </a>
        </div>
    </div>
</section>
{% endblock %}
