{% extends "base.html" %}

{% block title %}My Libraries{% endblock %}

{% block content %}
<h2 class="text-lg font-bold mb-6">Bibliotecas</h2>

<div class="grid grid-cols-2 gap-4 sm:gap-6">
    <!-- Biblioteca de Teste -->
    <div>
      <h3 class="font-medium text-gray-700">Suas</h3>
      <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
        {% for id in range(10) %}
          <div class="bg-white shadow rounded-lg py-2
                      hover:border-red-400 hover:border-b-4">
            <a href="{{ url_for('library.main', lib_id=id) }}" class="">
              <h5 class="text-sm sm:text-lg font-medium text-gray-800">Teste</h5>
              <p class="text-xs sm:text-sm text-gray-600">Descrição: Teste</p>
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
    <div>
      <h3 class="font-medium text-gray-700">De Amigos</h3>
      <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
        {% for id in range(10) %}
          <div class="bg-white shadow rounded-lg py-2 hover:border hover:border-b-4">
            <a href="{{ url_for('library.main', lib_id=id) }}" class="">
              <h5 class="text-sm sm:text-lg font-medium text-gray-800">Teste</h5>
              <p class="text-xs sm:text-sm text-gray-600">Descrição: Teste</p>
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
    <!-- Loop de Bibliotecas -->
    {% for library in libraries %}
    <div class="bg-white shadow rounded-lg p-4">
        <h5 class="text-lg font-medium text-gray-800">{{ library.name }}</h5>
        <p class="text-sm text-gray-600">Books: {{ library.books|length }}</p>
        <a href="/library/{{ library.id }}" class="mt-2 inline-block bg-gray-800 text-white px-4 py-2 rounded text-sm hover:bg-gray-900">
            View Library
        </a>
    </div>
    {% endfor %}
</div>

<!-- Botão de Adicionar Nova Biblioteca -->
<div class="flex flex-row-reverse my-6">
    <button class="py-2 px-4 bg-black text-white">
      +
    </button>
</div>
{% endblock %}

