{% extends "base.html" %}

{% block title %}Livros da Biblioteca{% endblock %}

{% block content %}
<section class="section">
    <div class="container">
        <!-- Título da Biblioteca -->
        <h2 class="title is-4 mb-6">{{ library.name }}</h2>

        <div class="field columns">
            <input class="input is-rounded" type="text" placeholder="Busque por títulos, autores ou gênero.." id="search" onkeyup="searchBooks()"/><script>
            function searchBooks() {
                const input = document.getElementById('search');
                const filter = input.value.toLowerCase();
                const bookItems = document.querySelectorAll('.box ul li');

                bookItems.forEach(item => {
                    const title = item.querySelector('.has-text-weight-semibold').textContent.toLowerCase();
                    const author = item.querySelector('.is-size-7.has-text-grey').textContent.toLowerCase();
                    const genre = item.closest('.column').querySelector('.subtitle').textContent.toLowerCase();

                    if (title.includes(filter) || author.includes(filter) || genre.includes(filter)) {
                        item.style.display = '';
                    } else {
                        item.style.display = 'none';
                    }
                });
            }
            </script>
            <div class="column is-2">
                <a href="{{ url_for('book.create', library_id=library.id) }}" class="button is-primary is-rounded ">
                <span class="icon">
                    <i class="fas fa-plus"></i>
                </span>
                <span>Adicionar Livro</span>
            </a>
            </div>
        </div>

        <!-- Grid para os Gêneros -->
        <div class="columns is-multiline">
            {% for genre in books_by_genre %}
            <!-- Livros de Ficção -->
            <div class="column is-12">
                <h3 class="subtitle is-5 has-text-weight-semibold">{{ genre[0]['genre'] }}</h3>
                <div class="box">
                    <ul>
                        {% for book in genre %}
                        <a href="{{ url_for('book.get', book_id=book.id) }}">
                            <li class="p-3 mb-3 box is-clickable">
                                <div class="columns is-mobile is-vcentered ">
                                    <div class="column is-12">
                                        <p class="has-text-weight-semibold">{{ book.title }}</p>
                                        <p class="is-size-7 has-text-grey"><b>Autor:</b> {{ book.author }}</p>
                                        <!-- <p class="is-size-7 has-text-grey">Gênero: {{ book.genre }}</p> -->
                                    </div>
                                    <!-- Actions: Edit and Delete -->
                                    {% if library.user_id == user_id %}
                                    <div class="column is-flex is-justify-content-flex-end is-align-items-center">
                                        <!-- Edit Button -->
                                        <a href="{{ url_for('book.update', book_id=book.id) }}" class="button is-small is-info mr-2">
                                            <span class="icon is-small">
                                                <i class="fas fa-edit"></i>
                                            </span>
                                        </a>

                                        <!-- Delete Button -->
                                        <form action="{{ url_for('book.delete', book_id=book.id) }}" method="post" class="inline">
                                            <button type="submit" class="button is-small is-danger" onclick="return confirm('Tem certeza que deseja excluir este livro?')">
                                                <span class="icon is-small">
                                                    <i class="fas fa-trash-alt"></i>
                                                </span>
                                            </button>
                                        </form>
                                    </div>
                                    {% endif %}
                                </div>
                            </li>
                        </a>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
