{% extends "base.html" %}

{% block title %}Livros da Biblioteca{% endblock %}

{% block content %}
<section class="section">
    <div class="container">
        <!-- Título da Biblioteca -->
        <h2 class="title is-4 mb-6">{{ library_name }}</h2>

        <div class="field columns">
            <div class="column is-10">
                <p class="control has-icons-right ">
                <input class="input is-rounded" type="text" placeholder="Busque por títulos, autores ou gênero.."/>
                <span class="icon is-small is-right">
                                <i class="fas fa-search"></i>
                            </span>
            </p>
            </div>
            <div class="column is-2">
                <a href="#" class="button is-primary is-rounded ">
                <span class="icon">
                    <i class="fas fa-plus"></i>
                </span>
                <span>Adicionar Livro</span>
            </a>
            </div>


        </div>



        <!-- Grid para os Gêneros -->
        <div class="columns is-multiline">
            <!-- Livros de Ficção -->
            <div class="column is-12">
                <h3 class="subtitle is-5 has-text-weight-semibold">Ficção</h3>
                <div class="box">
                    <ul>
                        {% for book in range(4) %}
                        <a href="{{url_for('book.main',book_id=book)}}">
                            <li class="p-3 mb-3 box is-clickable">
                                <div class="columns is-mobile is-vcentered ">
                                    <div class="column is-12">
                                        <p class="has-text-weight-semibold">Título do Livro {{ book }}</p>
                                        <p class="is-size-7 has-text-grey">Autor: Autor{{ book }}</p>
                                        <p class="is-size-7 has-text-grey">Gênero: Ficção</p>
                                    </div>
                                    <div class="column has-text-right ">
                                        <!-- Ações: Editar e Deletar -->
                                        <a href="#" class="button is-small is-info mr-1 has-text-right">
                                            <i class="fas fa-edit"></i>
                                        </a>
                                        <a href="#" class="button is-small is-danger has-text-right"
                                           onclick="return confirm('Tem certeza que deseja excluir este livro?')">
                                            <i class="fas fa-trash"></i> </a>
                                    </div>
                                </div>
                            </li>
                        </a>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <!-- Livros de Não Ficção -->
            <div class="column is-12">
                <h3 class="subtitle is-5 has-text-weight-semibold">Não Ficção</h3>
                <div class="box">
                    <ul>
                        {% for book in range(4) %}
                        <a href="{{url_for('book.main',book_id=book)}}">
                            <li class="p-3 mb-3 box is-clickable">
                                <div class="columns is-mobile is-vcentered">
                                    <div class="column is-12">
                                        <p class="has-text-weight-semibold">Título do Livro {{ book }}</p>
                                        <p class="is-size-7 has-text-grey">Autor: Autor{{ book }}</p>
                                        <p class="is-size-7 has-text-grey">Gênero: Não Ficção</p>
                                    </div>
                                    <div class="column has-text-right ">
                                        <!-- Ações: Editar e Deletar -->
                                        <a href="#" class="button is-small is-info mr-1 has-text-right">
                                            <i class="fas fa-edit"></i>
                                        </a>
                                        <a href="#" class="button is-small is-danger has-text-right"
                                           onclick="return confirm('Tem certeza que deseja excluir este livro?')">
                                            <i class="fas fa-trash"></i> </a>
                                    </div>
                                </div>
                            </li>
                        </a>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
