{% extends "base.html" %}

{% block title %}Minhas Bibliotecas{% endblock %}

{% block content %}
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-10">
                <h2 class="title is-4 mb-6">Bibliotecas</h2>
            </div>
            <div class="column is-2">
                <!-- Botão de Adicionar Nova Biblioteca -->
        <div class="has-text-right ">
            <a href="{{ url_for('library.create') }}" class="button is-primary is-rounded is-small">
                <span class="icon">
                    <i class="fas fa-plus"></i>
                </span>
                <span>Adicionar Biblioteca</span>
            </a>
        </div>
            </div>
        </div>
        <div class="columns">
            <!-- Coluna "Suas" -->
            <div class="column">
                <h3 class="subtitle is-5 has-text-weight-semibold">Minhas bibliotecas</h3>
                <div class="field">
                    <p class="control has-icons-right">
                        <input class="input is-rounded" type="text" placeholder="Buscar" id="search" onkeyup="searchLibraries()"/>
                        <span class="icon is-small is-right">
                            <i class="fas fa-search"></i>
                        </span>
                    </p>
                </div><script>
                function searchLibraries() {
                    const input = document.getElementById('search');
                    const filter = input.value.toLowerCase();
                    const libraryBoxes = document.querySelectorAll('.box');

                    libraryBoxes.forEach(box => {
                        const title = box.querySelector('.title').textContent.toLowerCase();
                        if (title.includes(filter)) {
                            box.style.display = '';
                        } else {
                            box.style.display = 'none';
                        }
                    });
                }
                </script>
                <div class="columns is-multiline">
                    {% for library in libraries %}
                    <div class="column is-half">
                        <div class="box has-shadow">
                            <a href="{{ url_for('library.main', lib_id=library.id) }}">
                                <h5 class="title is-6">{{ library.name }}</h5>
                                <p class="content is-small">de: {{ username }}</p>
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <!-- Coluna "De outros" -->
            <div class="column">
                <h3 class="subtitle is-5 has-text-weight-semibold">Bibliotecas de outros</h3>
                <div class="field">
                        <p class="control has-icons-right">
                            <input class="input is-rounded" type="text" placeholder="Buscar"/>
                            <span class="icon is-small is-right">
                                <i class="fas fa-search"></i>
                            </span>
                        </p>
                    </div>
                <div class="columns is-multiline">

                    {% for library in others_libraries %}
                    <div class="column is-12">
                        <div class="box has-shadow">
                            <a href="{{ url_for('library.main', lib_id=library.id) }}">
                                <h5 class="title is-6">{{ library.name }}</h5>
                                <p class="content is-small">Descrição: {{ library.description }}</p>
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

<!--         Loop de Bibliotecas
        <div class="columns is-multiline">
            {% for library in libraries %}
            <div class="column is-one-third">
                <div class="box has-shadow">
                    <h5 class="title is-6">{{ library.name }}</h5>
                    <p class="content is-small">Livros: {{ library.books|length }}</p>
                    <a href="/library/{{ library.id }}" class="button is-dark is-small mt-2">
                        Ver Biblioteca
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
 -->

    </div>
</section>
{% endblock %}
